<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa - Pizzaria Fantástica</title>
    <link rel="stylesheet" href="/css/geral.css">
    <style>
        .nav-adm {
            background-color: rgba(0,0,0,0.5);
            filter: blur(0.5);
        }

        .nav-adm ul{
            margin: 0 auto;
            padding: 0;
            width: 960px;
            display: flex;
        }

        .nav-adm ul li{
            display: block;
        }

        .nav-adm ul li a {
            display: block;
            padding: 20px;
            text-decoration: none;
            color: #FFF;
            font-size: 1.2rem;
        }

        .nav-adm ul li.selected a{
            background-color: #333333;
            cursor: default;
        }

        .nav-adm ul li:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        main {
            width: 960px;
            margin: 20px auto;
            padding: 20px;
            background-color: rgba(0,0,0,0.5);
            filter: blur(0.5);
        }
        #tabela-de-pizzas {
            width: 100%;
            border-collapse: collapse;
        }
        #tabela-de-pizzas tbody td {
            border: 1px solid #666;
            padding: 5px;
        }
        #tabela-de-pizzas td:nth-child(1){
            width: 30px;
        }
        #tabela-de-pizzas td:nth-child(2){
            width: 100px;
        }

        #tabela-de-pizzas img {
            width: 100%;
            display: block;
        }
        .bt {
            text-decoration: none;
            background-color: #DDD;
            color: black;
            padding: 6px;
            font-size: 0.8rem;
        }
    </style>
</head>
<body>
    <nav class="nav-adm">
        <ul>
            <li><a href="#">Pedidos</a></li>
            <li><a href="#">Clientes</a></li>
            <li class="selected"><a href="#">Pizzas</a></li>
            <li><a href="#">Usuarios</a></li>
        </ul>
    </nav>
    <main>
        <a class="bt" href="/adm/pizzas/create">Adicionar nova pizza</a>
        <table id="tabela-de-pizzas">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Imagem</td>
                    <td>Nome</td>
                    <td>Preço</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <% for(const p of pizzas) { %>
                    <tr>
                        <td><%= p.id %></td>
                        <td><img src="<%= p.img %>" alt="<%= p.nome %>"></td>
                        <td><%= p.nome %></td>
                        <td>R$ <%= p.preco %></td>
                        <td>
                            <a class="bt" href="/adm/pizzas/<%= p.id %>/edit">Editar</a>
                            <a class="bt" href="/adm/pizzas/<%= p.id %>/delete">Remover</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>